@import "tailwindcss";
@import 'antd/dist/reset.css';

:root {
  --background: #ffffff;
}

* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}


body {
  color: var(--foreground);
}

html, body, #root {
  height: 100%;
  margin: 0;
}
:where(.ant-menu-light .ant-menu-item-selected) {
  background-color: #EFF6FF !important; 
  color: #000 !important; 
}

:where(.ant-menu-light .ant-menu-item-selected) .ant-menu-item-icon {
  color: #3B82F6 !important;
}

:where(.ant-menu-light .ant-menu-item .ant-menu-item-icon) {
  color: #6B7280 !important; /* xám */
}

:where(.ant-menu-light .ant-menu-item-selected) .ant-menu-title-content {
  color: #000 !important;
}

.ant-tabs-tab {
  display: flex;
  align-items: center;
  gap: 8px; 
  font-weight: 500;
}
.ant-tabs-tab-active {
  color: #2563eb; 
}
.ant-tabs-ink-bar {
  background-color: #2563eb; 
}
.ant-tabs-nav {
  margin-bottom: 0;
}

.header-blur {
  @apply bg-white/70 backdrop-blur-md shadow-sm;
}