@import "tailwindcss";
@import 'antd/dist/reset.css';

:root {
  --background: #ffffff;
}

* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}


body {
  color: var(--foreground);
}

html, body, #root {
  height: 100%;
  margin: 0;
}